// #temperature {
//   width: 20rem;

#currentCondition {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    p {
      font-size: xx-large;
      margin: 0;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #astronomy {
      display: flex;
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 10px;
        small:first-child {
          // margin-bottom: 5px;
        }
      }
    }
  }
  small {
    font-size: 12px;
  }
}
