// #weatherInfo {
//   border: dotted 2px blue;
//   display: flex;
//   div {
//     border: solid 1px purple;
//   }
// }

#temperature {
  width: 20rem;
  // img {
  //   width: 80px;
  // }
  > div {
    //first div child
  }
  // #conversion {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-around;
  //   > small {
  //   }
  // }

  #currentCondition {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      p {
        font-size: xx-large;
      }
      #astronomy {
        display: flex;
        div {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin-right: 10px;
          small:first-child {
            margin-bottom: 5px;
          }
        }
      }
    }
    small {
      font-size: 12px;
    }
  }
}
